{% extends 'page/layout.html' %}
{% block tilte %} Chi Tiết Hoá Đơn {% endblock %}
{% block content %}
<div class="row">
    <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
                <div class="col-12">
                    <h2 class="tm-block-title d-inline-block">Chi Tiết Hoá Đơn</h2>
                </div>
            </div>
            <div class="row tm-edit-product-row">
                <div class="col-xl-6 col-lg-6 col-md-12 text-warning">
                    <table class="table table-hover tm-table-small tm-product-table">
                        <thead>
                            <tr>
                                <th scope="col">Tên SP</th>
                                <th scope="col">Số Lượng</th>
                                <th scope="col">Đơn Giá</th>
                            </tr>
                        </thead>
                        {% for i in ct %}

                        <tbody>

                            <tr>
                                <td>{{i.TenSP}}</td>
                                <td>{{i.SoLuong}}</td>
                                <td>{{i.DonGia}}</td>

                            </tr>
                        </tbody>

                        {% endfor %}
                    </table>
                    <div style="clear:both"></div>
                    <a href="/dashboard/invoice-list" class="btn btn-primary btn-block text-uppercase">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}